@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.greetings {
    height: 550px;
    width: 912px;
    overflow: hidden;
    background-image: url(images/greetings_bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.greetings_content{
    margin-top: -80px;
    padding-top: 0;
    font-family: "Rubik Vinyl", serif;
    align-items: center;
}
.greetings_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.preambel_upper_part {
    position: relative;
    z-index: 2;
    height: 240px;              
    width: 912px;             
    margin-top: 500px;
    background: linear-gradient(
        to top, 
        #0d1b2a 10%,       
        #415a77 50%,      
        #00000000 100% 
    );
}
.preambel_lower_part {
    position: relative;
    z-index: 2;
    margin-top: 0;
    height: 600px;
    width: 912px;
    /* background: radial-gradient(circle at bottom, teal, purple 40%, teal); */
    background: linear-gradient(to bottom, black 0%, transparent 100%);
    background-image: url(images/simple_space.png);
    background-attachment: fixed;

    font-family: "Libre Baskerville", serif;
    font-style: italic;
}
  
/*the 100%s are the way of adjusting the width and the height of the image according to its div container*/
/*the overflow property would maintain the div coverage of the whole page*/
/*padding is the distance between contents, divs and the elements inside of the page*/
/*position property permanently fixes the position of a div at one single partiicular place.*/
/*<margin-top> is the css property that is used for creating the top space between 2 different divs*/
/* the <background-attachment> property fixes a background-image fixed, through out the scroll. */